{% extends "user/layout.html" %}

{% load static %}

{% block content %}
<!-- Content -->

<div id="vue_div" class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="{% url 'index'%}" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img src="{% static 'assets/main.png' %}" alt="" width="130px" height="70px">
                            </span>
                            <span class="app-brand-text demo text-body fw-bolder">블로그</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">🔒 비밀번호 변경 </h4>
                    <p style="margin-top:20px;color:red;" class="mb-4">
                        비밀번호 초기화 시 비밀번호를 반드시 변경하여 주세요.
                    </p>

                    <form id="ChangeForm" class="mb-3" onsubmit="return false">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="user_id" class="form-label">아이디</label>
                            {{ form.user_id }}
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="password">비밀번호</label>
                            <div class="input-group input-group-merge">
                                {{ form.password }}
                                <span class="input-group-text cursor-pointer"><i id="change-eye" class="fa-solid fa-eye"></i></span>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="check_password">비밀번호 확인</label>
                            <div class="input-group input-group-merge">
                                {{ form.check_password }}
                                <span class="input-group-text cursor-pointer"><i id="change-eye1" class="fa-solid fa-eye"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button @click="changePw()" class="btn btn-primary d-grid w-100">비밀번호 변경</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>

<!-- / Content -->

<div class="buy-now">
    <a href="{% url 'index'%}" class="btn btn-danger btn-buy-now">대시보드</a>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/common.js' %}"></script>
    
    <script type="text/javascript">
        /** 아이디 확인 **/
        $('#user_id').attr('value', '{{user_id}}');
        document.getElementById('user_id').readOnly = true;

        var csrftoken = getCookie('csrftoken');

        let vm = new Vue({
            delimiters: ['[[', ']]'],
            el: '#vue_div',
            methods: {
                changePw: function () {
                    axios.post(
                        `/user/change`, document.querySelector('#ChangeForm'), {
                            headers : {
                                'Content-Type' : 'multipart/form-data',
                                'X-CSRFToken': csrftoken
                            }
                        }
                    ).then(function (response) {
                        Swal.fire(response.data.msg, '', response.data.check)
                        setTimeout("location.href='/user/login'", 1000)
                    }).catch(function (e) {
                        if (e.response.data.msg == null) {
                            Swal.fire('서버에 오류가 발생하였습니다. \n 잠시 후 다시 이용해주세요.', '', 'error')
                        }else{
                            Swal.fire(e.response.data.msg, '', e.response.data.check)
                        }
                    })
                }
            }
        });

    </script>
{% endblock %} 