{% extends "layout.html" %}

{% load static %}

{% block content %}
<!-- Content -->
<div id="vue_div" class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">유저 정보 /</span> {{user}}</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">회원 탈퇴하기</h5>
                <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                            <h6 class="alert-heading fw-bold mb-1">정말로 탈퇴 하시겠습니까?</h6>
                            <p class="mb-0">계정을 삭제하면 되될릴 수 없습니다. 정말로 탈퇴 하시겠습니까?</p>
                        </div>
                    </div>
                    <form id="DeleteForm" onsubmit="return false">
                        {% csrf_token %}
                        {{ form.user_id }}
                        <button @click="deleteUser()" type="submit" class="btn btn-danger">회원 탈퇴하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->
{% endblock %}

{% block script %}
<script type="text/javascript">

    /** Cookie에서 토큰 가져오기 **/
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    console.log(csrftoken)

    /** 아이디 확인 **/
    $('#user_id').attr('value', '{{user.id}}');

    let vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#vue_div',
        methods: {
            deleteUser: function () {
                Swal.fire({
                    title: '정말로 삭제하실건가요?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: '예',
                    denyButtonText: `아니요`,
                }).then((result) =>{
                    if (result.isConfirmed) {
                        axios.post(
                            `/user/withdrawal`, document.querySelector('#DeleteForm'), { 
                                headers : {
                                    'Content-Type' : 'multipart/form-data',
                                    'X-CSRFToken': csrftoken
                                } 
                            }
                        ).then(function (response) {
                            Swal.fire(response.data.msg, '', 'success')
                            setTimeout("location.href='/'", 1000)
                        }).catch(function (e) {
                            console.log(e.response.data)
                            if (e.response.data.msg == null) {
                                Swal.fire('서버에 오류가 발생하였습니다. \n 잠시 후 다시 이용해주세요.', '', 'error')
                            }else{
                                Swal.fire(e.response.data.msg, '', e.response.data.check)
                            }
                        });
                    } else if (result.isDenied) {
                        Swal.fire('좋은 선택입니다!', '', 'info')
                    }
                })
            }
        }
    })
</script>
{% endblock %}